/* About.js */
.main-container1{
    width: 30%;
    height: 80%;
    border: 5px solid lightpink;
    margin: 10px 0 0px 30%;
    position: relative;
}

.card-img{
    width: 125%; 
    height: 100%;
    margin: -36px 0 0 -35px;
    
}  
.card-info{
    width: 70%;

}

.card-icon1{
    width: 65px;
    height: 65px;
    margin: 0px 0 0 30px;
} 
.text-box{
    width: 170%;
    height: 30%;
    margin: 10% 40px -40px -30px;
    background-color: rgb(222, 209, 209);
    padding-left: 10px;

}

.card-title{
    font-size: 15px;
    margin: 10px 0 0 0px;
    line-height: 15px;
    padding-top: 10px;
}

.card-text{
    font-size: 12px;
    margin: 10px 0 0 0px;
    line-height: 15px;

}
.card-contact{
    margin: 10 0 0 10px;    
    line-height: 15px;
    font-size: 12px;


}
.card-email{
    margin: 10 0 0px 10px;
    line-height: 4px;
    font-size: 12px;
    padding-bottom: 15px;
    
} 


/*@media screen and (min-width: 480px) {
    .main-container1 {
      background-color: lightgreen;
    }

    .card-img{
        width: 150%;
        height: 60%;
        margin-top: -10px;
        
    }
    .card-icon1{
        max-width: 45px;
        height: 65px;
        margin: 10px 0 0 30px
    }
  }*/


